@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

/* ===== VARIABLES ===== */
:root {
    --color-black: #000000;
    --color-gray: #808080;
    --color-white: #FFFFFF;
    --color-red: #FF0000;
    --color-green: #006600;
    --color-dark: #6B4E30;
    --color-dark-variation: #B88E64;
    --color-bright: #F6F1E8;
    --font-std: 'Montserrat', sans-serif;
    --shadow-std: 0px 0px 2px rgba(107, 78, 48, 0.2);
    --icon-search: 
}

/* ===== SETTINGS ===== */
html {
    font-size: 16px;
    font-family: var(--font-std);
    color: var(--color-black);
    background-color: var(--color-bright);
}

ul {
    list-style: none;
    padding-left: 0px;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

/* ===== COMPONENTS ===== */
.container {
    display: flex;
    align-items: center;
}

.circle {
    height: 18px;
    width: 18px;
    background-color: var(--color-green);
    border-radius: 50%;
    display: inline-block;
}

    .circle-left {
        background-color: var(--color-red);
        margin-left: 2px;
    }
    .circle-right {
        background-color: var(--color-green);
        margin-left: 1px;
        margin-right: 2px;
    }

.title {
    margin-top: 85px;
    margin-left: 15px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-size: 1.3rem;
}

/* ===== STATES ===== */
.hidden {
    display: none;
}

.push-up { 
    margin-top: 20px;
}

.text-bold {
    font-weight: bold;
}

.text-semi-bold {
    font-weight: 600;
}

/* ===== NAVBAR ===== */
.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;

    justify-content: space-between;

    background-color: var(--color-white);

    box-shadow: var(--shadow-std);
}

    .back {
        margin-left: 10px;
    }

    .brand {
        padding: 20px; 
        text-transform: uppercase;
        color: var(--color-dark);
        font-weight: bold;
        font-size: 24px;
    }

    .container .nav-list {
        justify-content: space-around;
        width: 120px;
        align-items: center;
    }

    .icon {
        font-size: 1.5rem;
        color: var(--color-dark);
    }

/* ===== SEARCH BAR ===== */
.search-bar {
    margin-top: 85px;
    position: inherit;
    display: flex;
    width: 90%;
    height: 45px;
    border-radius: 7px;
    background-color: var(--color-white);
    box-shadow: var(--shadow-std);
    margin-left: 8px;
    justify-content: space-between;
}

    .search-bar .placeholder {
        align-self: center;
        margin-left: 10px;
        color: var(--color-dark-variation);
    }

    .active {
        font-weight: 700;
    }

    .search-bar .categories {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 25%;
        border-left: 0.5px solid var(--color-gray);
    }

    .categories p,
    .categorias a {
        font-size: 12px;
    }

    .categories i {
        font-size: 18px;
    }

/* ===== MAIN CONTENT ===== */
.main {
    margin-top: 60px;
    width: 100%;
}

    .lang-list {
        width: 100%;
    }

        .lang-list .list-item {
            border-bottom: 1px solid var(--color-dark);
            padding: 20px 30px;
            font-size: 1.2rem;
            transition: all 0.3s;
        }

            .list-item:hover {
                background-color: var(--color-dark);
                text-emphasis-color: var(--color-bright);
                font-weight: 700;
            }

/* ===== CARDS ===== */
.card-container {
    display: block;
    width: 100%;
    margin-left: 8px;
}

.card {
    background-color: var(--color-white);
    border-radius: 7px;
    box-shadow: var(--shadow-std);
    width: 95%;
    margin-top: 15px;
    margin-bottom: 20px;
}

    .card-info {
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

        .card-votes {
            display: flex;
            flex-direction: column;
            justify-items: center;
            width: 15%;
        }

        .card-votes p {
            margin: 0px;
            font-size: 10px;
            align-self: center;
        }

        .upvote, 
        .downvote {
            align-self: center;
        }

            .fa-sort-up {
                font-size: 18px;
            }
            .fa-sort-down {
                font-size: 14px;
                color: var(--color-gray);
            }

        .card-question {
            width: 84%;
        }

/* ===== FORM ===== */
.form .title {
    color: var(--color-dark-variation);
}

.form-group {
    margin-left: 10px;
    width: 90%;
    font-size: 14px;
}

    .input-field {
        width: 100%;
        height: 80px;
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 12px;
    }

.btn {
    width: 100%;
    display: flex;
    justify-content: center;
}
    .form-btn {
        background-color: var(--color-dark);
        color: var(--color-bright);
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        border: none;
        padding: 15px;
        box-shadow: 1px 1px 2px rgba(107, 78, 48, 0.2);
        border-radius: 7px;
        transition: background-color 0.3s;
    }

    .form-btn:hover {
        background-color: var(--color-dark-variation);
        color: var(--color-bright);
    }