[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-language-server = "*"
ipdb = "*"
pytest-django = "*"
pytest-watch = "*"
black = "==19.3b0"
pylint = "*"
coverage = "*"
pytest-cov = "*"
pyls-black = "==0.4.0"

[packages]
psycopg2 = "*"
django = "*"
gunicorn = "*"
django-heroku = "*"
google-cloud-translate = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
